[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/raviranjanray
[access "refs/for/refs/*"]
	read = group user/raviranjanray
	push = group user/raviranjanray
	label-Code-Review = -2..+2 group user/raviranjanray
	label-Verified = -1..+1 group user/raviranjanray
	rebase = group user/raviranjanray
	removeReviewer = group user/raviranjanray
	submit = group user/raviranjanray
[access "refs/heads/*"]
	read = group user/raviranjanray
	create = group user/raviranjanray
	push = +force group user/raviranjanray
	pushMerge = group user/raviranjanray
[access "refs/tags/*"]
	push = group user/raviranjanray
	push = +force group user/raviranjanray
